<script type="text/javascript">
  //获取access token
  var accessToken = window.location.hash.substring(1);
  //使用Access Token来获取用户的OpenID
  var path = "https://graph.qq.com/oauth2.0/me?";
  var queryParams = [accessToken, 'callback=callback'];
  var query = queryParams.join('&');
  var url = path + query;
  document.write("<script src="+ url +"><\/script>")
  function callback(user){
    $.ajax({
      async:true,
      type: "POST",
      url: "/similarities/manage_qq.json",
      dataType: "json",
      data : {
        open_id :user.openid,
        access_token:accessToken
      },
      success: function(data){
        var url="/similarities?web=qq&listen=1&category="+data.category
        if(data.yes){
          window.opener.location.href=url;
          window.close();
        }else{
          window.opener.location.reload();
          window.close();
        }
      }
    });
  }
</script>
<body>
<style type="text/css">
  .renren_border {width: 754px;}
  .main_Div {width: 752px;}
</style>
<div class="wrap renren_border">
  <div class="main_Div">
    <img style="height:597px;" src="/assets/762-4-qq.jpg" />
  </div>
  <div class="foot">Powered by <a href="http://www.gankao.co" target="_blank">赶考网</a> &copy; 2010-2012,如有问题请联系qq:2568830556</div>
</div>
</body>