<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

  </head>

<body>
  <img src="/assets/search4.png" onclick="javascript:window.parent.location.href='http://apps.baidu.com/english_vi'"></img>
  <script src='http://app.baidu.com/static/appstore/monitor.st'></script>
</body>

</html>