
<style>
  body{
    background: url("/assets/760x628-4.jpg") no-repeat;
  }
</style>

<body>
  <script type="text/javascript">
    $(function(){
      setTimeout(function(){
        window.location.href = "<%= Constant::SERVER_PATH %>/similarities?category=<%= Category::LEVEL_FOUR %>&web=sina";
      },1500)
    })
  </script>
</body>