<%#*<style>%>
  <%#*body{%>
    <%#*background: url("/assets/760x628_ky.jpg") no-repeat;%>
  <%#*}%>
<%#*</style>%>

<body>
  <script type="text/javascript">
    $(function(){
       window.location.href = "<%= Constant::SERVER_PATH %>/similarities?category=<%= Category::KAO_YAN %>&web=sina";
      <%#*setTimeout(function(){%>
       
      <%#*},1500)%>
    })
  </script>
</body>