
<% @client_id = "166937" %>
<script src="http://ajax.googleapis.com/ajax/libs/mootools/1.3.2/mootools-yui-compressed.js"></script>
<script type="text/javascript" src="/assets/renren.js"></script>
<div class="wrap renren_border">
  <div class="main_Div">
    <img src="/assets/login_pic.png" />
    <div id="hidden_iframe" style="display:none;">
      <script type="text/javascript">
        var uiOpts = {
          url : "http://graph.renren.com/oauth/authorize",
          display : "iframe",
          params : {"response_type":"token","client_id":"<%= @client_id %>"},
          onSuccess: function(r){
            window.location = "<%= Constant::SERVER_PATH %>/similarities/oauth_login_cet4?category=<%= Category::LEVEL_FOUR %>&access_token="+escape(r.access_token);
          }
        };
        var root_flag = 0;
        Renren.ui(uiOpts);

      </script>
    </div>
  </div>
  <div class="foot">Powered by <a href="http://www.gankao.co">赶考网</a> &copy; 2010-2012</div>
</div>