<body>
  <div class="wrap renren_border">
    <div class="main_Div">
      <img style="height:597px;" src="/assets/login_pic6.png" onclick='window.location.href = "<%= Constant::SERVER_PATH %>/similarities?category=<%= Category::LEVEL_SIX %>&web=kaixin";' />
    </div>
    <div class="foot">Powered by <a href="http://www.gankao.co">赶考网</a> &copy; 2010-2012</div>
  </div>
</body>
