<script type="text/javascript">
  function getHttpParams(name)
  {
    var r = new RegExp("(\\?|#|&)"+name+"=([^&#]*)(&|#|$)");
    var m = location.href.match(r);
    return decodeURIComponent(!m?"":m[2]);
  }
  var openkey=getHttpParams("openkey");
  var openid=getHttpParams("openid");
  var web_type=getHttpParams("web");

  $.ajax({
    async:true,
    dataType:'json',
    type:'post',
    url:"/similarities/check_status",
    data:{
      openid:openid
    },
    success : function(data) {
      if (data){
        window.open('/similarities/request_qq6','_blank', 'height=350,width=400,left=350,top=250');
      }else{
        window.location.href="/similarities?web=qq&category=3"
      }
    }
  });
</script>
<body>
<style type="text/css">
  .renren_border {width: 754px;}
  .main_Div {width: 752px;}
</style>
<div class="wrap renren_border">
  <div class="main_Div">
    <img style="height:597px;" src="/assets/762-6-qq.jpg" />
  </div>
  <div class="foot">Powered by <a href="http://www.gankao.co" target="_blank">赶考网</a> &copy; 2010-2012，如有问题请联系qq:2568830556</div>
</div>
</body>
