  <script type="text/javascript">
    $(function(){
      setTimeout(function(){
        window.location.href = "/similarities?web=qq&category=<%= Category::KAO_YAN %>"
      },1500)
    })
  </script>
<body>
<style type="text/css">
  inline {width:810px}
  .renren_border {width: 754px;}
  .main_Div {width: 752px;}
</style>
<div class="wrap renren_border">
  <div class="main_Div">
    <img style="height:597px;" src="/assets/762-4-ky.jpg" />
  </div>
  <div class="foot">Powered by 赶考网 &copy; 2010-2012,如有问题请联系qq:2568830556</div>
</div>
</body>