
<style>
  body{
    background: url("/assets/760x628_ky.png") no-repeat;
  }
</style>

<script type="text/javascript">
  $(function(){
    setTimeout(function(){
      window.location.href = "<%= Constant::SERVER_PATH %>/similarities?category=<%= Category::KAO_YAN %>&web=sina";
    },1500)
  })
</script>
<body>

</body>