<style>
  body{
    background: url("/assets/760x628-6.png") no-repeat;
  }
</style>
  <script type="text/javascript">
    $(function(){
      setTimeout(function(){
        window.location.href = "<%= Constant::SERVER_PATH %>/similarities?category=<%= Category::LEVEL_SIX %>&web=sina";
      },1500)
    })
  </script>

<body <% if @login==false %> onload="authLoad();"<% end %>>

</body>