
<%ads= Advert.ip_advert(request.headers["HTTP_X_REAL_IP"]) %>
<% unless ads.blank? %>
  <div class="AD_text">
    <marquee class="marquee" scrollamount="2" direction=left>
      <% ads.each do |ad| %>
        <%= ad.content.html_safe %> &nbsp;&nbsp;&nbsp;&nbsp;
      <% end %>
    </marquee>
  </div>
  <script type="text/javascript">
    var have_adv = true;
  </script>
<% else %>
  <script type="text/javascript">
    var have_adv = false;
  </script>
<% end %>